/.env
./idea
/.vscode
.ruff_cache

/data
/models
/deployment_dir

/src/__pycache__
/src/feature_pipeline/__pycache__
/src/training_pipeline/__pycache__
/src/inference_pipeline/__pycache__
/src/inference_pipeline/app/__pycache__